{{#each books as |book|}}

  <div class="col-6 col-sm-6">
      {{book.title}}
  </div>
  <div class="col-6 col-sm-6">
      {{book.author}}
  </div>
  <!-- <div data-id="{{ride.id}}" class="col-3 col-sm-3 col-lg-3">
    <button class="edit-btn">Edit</button>
    <button class="delete-btn">Delete</button>
  </div> -->

{{/each}}
